@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<html>
<head>
	<title>Hest</title>
</head>
<body>
	<h1>@Model.Value("title")</h1>
	<div>@Model.Value("article")</div>
</body>

</html>